DOMAIN={{ uim_domain }}
HUB={{ uim_hub }}
HUBIP={{ uim_hubip }}
HUBROBOTNAME={{ uim_hubrobotname }}
HUBPORT={{ uim_hubport }}
ROBOTIP={{ uim_robotip }}
ROBOTNAME={{ uim_robotname }}
FIRST_PROBE_PORT={{ uim_first_probe_port }}